h1 {
  font-family: 'Geostar', cursive;
  text-align: center;
  text-decoration: underline;
}

p {
  font-family: 'Montserrat', 'Roboto', Arial, sans-serif;
  font-size: 30px;
  /* font-weight: 700; */
  line-height: 1.5;
}
